:root{
	--focusHeight:0px;		
}

/* @todo-container */
.todo-container{
	padding: 2rem;
	gap:2rem;
	height: 100vh;
}

/* @item-container */
.item-container{
	flex:1;
	overflow: auto;
	border: 1px solid #ccc;
}

.item-container.select{
	/*background: red;*/
	border: 1px solid #b791f0;
	outline: 2px solid #b791f0;
}
/* @item */
.item{
	transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1);
	border: 1px solid #ddd;
	user-select: none;
	padding: 0.5rem 0.75rem;
}
/*.item:last-child{
	padding: 0;
	border: 0;
	height: var(--focusHeight);
}*/
.item .title{
	font-size: 0.75rem;
	line-height: 1.2;
	color: #aaa
}
.item:hover .title{
	color: #666;
}

/* @item.focus */
.item.focus{
	transition: 0s;
	cursor: pointer;
	pointer-events: none;
	border: 1px solid #333;
}

 /*@item.clash */
 

.item.clash{
	transform: translateY(var(--focusHeight));
} 
.item.clash~.item{
	transform: translateY(var(--focusHeight));
}
/*.item.clash~.item:last-child{
	padding: 0;
	height: 0;
}

.item.clash:last-child{
	transform: unset;
	border: 1px solid #eee;
}*/